img {
    width: 300px;
}
body { 
    text-align: center;
    margin-top: 40px;
   }
div {
    font-size: small  ;
    color: brown
    
    
}

input{
    width: 400px;
    border: groove;

    
    
    
    
    
}




